.Component {
  position:         fixed !important;
  z-index:          100;
  border:           1px solid black;
  background-color: white;
}

.Component > * {
  padding: 5px;
}

.Component > *:hover {
  background-color: highlight;
}
