.Component {
  display:          flex;
  flex:             0 0 auto;
  flex-flow:        column;
  box-sizing:       border-box;
  position:         fixed;
  z-index:          0;
  background-color: white;
  border:           1px solid black;
}

.Component > * {
  padding: 5px;
}

.Component > *:hover {
  background-color: #beefed55;
}
