.Component {
  position:         relative;
  z-index:          100;
  background-color: white;
}

.Component:hover {
  z-index: 200;
}

.Component :global(.list) {
  position:         fixed !important;
  box-sizing:       border-box;
  border:           1px solid black;
  background-color: white;
  white-space:      nowrap !important;
}

.Component > :global(.list > *) {
  padding: 5px;
}

.Component > :global(.list > *:hover) {
  background-color: highlight;
}

.Component:not(:hover) :global(.list) {
  visibility:     hidden;
  pointer-events: none;
}
